doctype html
html(lang="en")
  head
    script(type='text/javascript' src='http://code.jquery.com/jquery-3.1.1.js')
    script(type='text/javascript' src='https://d3js.org/d3.v4.js')
    style.
        .axis--x path {
          display: none;
        }

        .line {
          fill: none;
          stroke: steelblue;
          stroke-width: 1.5px;
        }

        .area {
          fill: steelblue;
          clip-path: url(#clip);
        }

        .zoom {
          cursor: move;
          fill: none;
          pointer-events: all;
        }

  body
    svg(width='1200' height='600')
    script(type='text/javascript' src='/js/babe.js')
